.king_size_cookie {
    width: 18%;
    height: 18%;
}

.king_size_cookie_one {
    width: 19%;
    height: 19;
}
.king_size_cookie_two {
    width: 20%;
    height: 20;
}

.king_size_cookie_three {
    width: 21%;
    height: 21%;
}

.king_size_cookie_four {
    width: 22%;
    height: 22%;
}

.king_size_cookie_five {
    width: 23%;
    height: 23%;
}

.king_size_cookie_six {
    width: 24%;
    height: 24%;
}

.king_size_cookie_seven {
    width: 24%;
    height: 32%;
}

.king_size_cookie_last {
    width: 24%;
    height: 24%;
}